##Place file in the following destination: /lib/systemd/system/ ###

[Unit]
Description=LOTIC
After=multi-user.target

[Service]
Type=idle
ExecStart=/usr/bin/python3 ##Add python exectution here###
WorkingDirectory=/home/nvidia/LOTICv2
StandardOutput=file:/home/nvidia/main_output.log
StandardError=file:/home/nvidia/error_file.log
Restart=always
RestartSec=120
User=nvidia

[Install]
WantedBy=multi-user.target
